*{padding: 0;margin: 0;}
a,a:hover{text-decoration: none;color: #FFFFFF;}
ul{list-style: none;}
/*PC端导航*/
.p-header{background: #000000;height: 70px;position: fixed;z-index: 100; width: 100%;}
.p-header h4 img{width: 100%;}
.p-header ul li{float: left;line-height: 70px;padding:0 30px;}
.p-header .active{background: #135ea4;}
.p-header p{color: orange;font-size: 20px;font-weight: bold;position: relative;top: 12px;}
/*移动端导航*/
.s-header{position: fixed;z-index: 100;top:0; width: 100%;}
.navbar-default a {padding: 5px;}
.navbar-default a img{width: 80%;}
.navbar-collapse{text-align: center;}
.navbar-collapse li a{color: #FFFFFF!important;}
.navbar-collapse li:hover{background: #135ea4;}
/*轮播图*/
.banner{padding: 0;margin-top:70px;}
.p-banner{margin-top: -20px;}
/*服务范围*/
.main h2{text-align: center;}
.p-service h3{text-align: center;}
.main p{text-indent: 2em;}
.main div{color: #FFFFFF; padding: 10px;}
.p-service div{height: 370px;}
.main .p-service i {
	display: block;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 10px solid #d4d4d4;
	background: #FFFFFF;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	margin: 40px auto 30px;
}
.main .sequence1{background: #4a8e6c;}
.main .sequence1 i{color: #e54d26;}
.main .sequence2{background: #41213e;}
.main .sequence2 i{color: #000000;}
.main .sequence3{background: #db5f55;}
.main .sequence3 i{color: #ff837f;}
.main .sequence4{background: #e1b43d;}
.main .sequence4 i{color: #3daac9;}
/*客户案例*/
.p-case{background: #f1f1f1;}
.p-case img{width: 100%;}
/*关于我们*/
.AboutUs{margin: 0 auto;}
.AboutUs li{float: left;}
.AboutUs div img{width: 100%;}
.more{text-align: center;}
.more i{color: #333333;font-size: 40px;}
.company-info {height: 0; overflow: hidden;transform: all all 2s ease-out;}
.company-info dl,p{color: #000;font-size: 16px;}
/*咨询中心*/
.Information{background: #f1f1f1; overflow: hidden; padding: 30px 50px!important;}
.Information dl{color: #000000; }
.Information dl:last-child dd {border-right: none;padding-right: 0;}
.Information dt{font-size: 25px;}
.Information dt span{float: right;}
.Information dt strong{font-size: 20px;color: orange;}
.Information dd{border-right:1px solid #CCCCCC ;overflow: hidden;padding-right: 30px;}
.Information dd a{float: left;white-space: nowrap;overflow: hidden; text-overflow: ellipsis; color: black;width: 70%;}
.Information dd span{float: right;}
/*联系我们*/
.ContactUs{background: url(../img/tell_bg.png)no-repeat;max-height: 468px;}
.ContactUs h3{color: #fff;font-size: 30px;}
.ContactUs h4{color: #fff;font-size: 25px;color: orange;}
.ContactUs input{background: #8d8d8d;border: none;margin: 5px 0;border-radius: 0;color: #FFF;}
.ContactUs input:nth-child(2){width: 293px; min-width: 100%;}
.ContactUs input::-webkit-input-placeholder{color: #fff;}
.ContactUs input::-moz-placeholder{color: #fff;}
.msg-box{display: block!important;}
.ContactUs textarea::-webkit-input-placeholder{color: #fff;}
.ContactUs textarea::-moz-placeholder{color: #fff;}
.ContactUs textarea{background: #8d8d8d;border: 0;border-radius: 0;width: 100%!important; height: 100px;}
.ContactUs button{background: #ef8153;padding: 5px 30px;margin-top: 10px;vertical-align: baseline;}
.ContactUs span{display:inline-block; color: #fab78c;padding-left: 10px;padding-top: 10px!important;}
.link{background: #1a1a1a;}
.link h4{font-size: 28px;color: #008dfd;}
.link h5{font-size: 33px;color: #c3af07;}
.link a{color: #3f3f3f;margin-right: 15px;}
.link dl{margin-top: 40px; color: #7c7c7c;}
.link dd{margin-top: 10px;}
.link .lright{margin-top: 200px;}
.link .lright button:nth-child(1){background: #01a5c3;}
.link .lright button:nth-child(2){background: #ef8153;}
.link .lright button:nth-child(3){background: #11c594;}
.link .lright a{color: #fff;padding: 20px 0 20px 30px;}
.link .lright button:nth-child(1) a{background: url(../img/qq.png)no-repeat left center;color: #fff;background-size: 25px;}
.link .lright button:nth-child(2) a{background: url(../img/weibo.png)no-repeat left center;color: #fff;background-size: 25px;}
.link .lright button:nth-child(3) a{background: url(../img/wechat.png)no-repeat left center;color: #fff;background-size: 25px;}
/*尾部导航*/
.footer{background: #000000;padding: 20px;}
.footer span{color: #7c7c7c;}
.footer .conter {text-align: center;}
.